.filterBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid var(--color-very-light-gray);
  margin-bottom: 1rem;

  @media (max-width: 500px) {
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: flex-start;
  }

  .dropdowns {
    display: flex;
    gap: 20px;

    .dropdown {
      padding: 8px 12px;
      border-radius: 5px;
      border: 1px solid var(--color-light-gray);
    }
  }

  .productCount {
    font-size: 16px;
    color: var(--color-black);
    font-weight: 800;
    span {
      color: var(--color-medium-gray);
      font-weight: 400;
    }
  }
}
